#app {
    display: flex;
    justify-content: center;
}
.todo-form {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    padding: 15px;
}

.todo-form > div {
    padding: 10px 5px;
}

.control-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.label-container {
}

.input-container {
}

.task-name__error-message {
    color: red;
    font-size: 10px;
    display: none;
}

.show {
    display: block;
}
