* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

#app {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.todo-form {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;

}

.todo-form > div {
    padding: 10px 5px;
}

.input-container-warn-message {
    position: relative;
}

.input-container-warn-message:before {
    content: "Please fill in this field.";
    position: absolute;
    background-color: #ffff00;
    top: 30px;
    left: 0px;
    border: 1px solid #858585;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 12px;
    display: none;
}

.input-container-warn-message:after {
    content: "";
    position: absolute;
    background-color: #ffff00;
    top: 24px;
    left: 15px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: 1px solid #858585;
    border-right: none;
    border-bottom: none;
    display: none;
}

.input-container-warn-message.active:before,
.input-container-warn-message.active:after {
    display: block;
}


.todo-list {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.todo-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 8px auto;
}

.hidden-todo-list-item {
    display: none;
}

.control-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-area {
    display: flex;
    flex-direction: column;
}



.fa-times {
    color: red;
    margin-left: 15px;
}

.fa-check {
    color: green;
    margin-left: 15px;
}

.fa-trash-o {
    opacity: 0.4;
    margin-right: 15px;
}

.fa-trash-o:hover {
    opacity: 1;
    color: orangered
}

.task-name {
    width: 80%;
    padding: 0 15px;
}

.search-container {
    margin-bottom: 12px;
}

.main-trash-sign-container {
    width: 350px;
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
}

.main-trash-sign {
    margin-right: 13px;
    visibility: hidden;
}


