* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #E6E8E6;
    margin: 0;
    overflow-y: scroll;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.top-wrapper {
    height: 44vh;
    position: fixed;
    top: 0;
    background-color: #9C7A97;
    box-shadow: 1px 0px 5px gray;
}   

.bottom-wrapper {
    margin-top: 43vh;
    padding-top: 20px;

}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-form {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    background-color: #E6E8E6;

}

.todo-form > div {
    padding: 10px 5px;
}

.search-container {
    position: relative;
}
.search-container label {
    position: absolute;
    left: 5px;
    top: 2px;
}

.input-container input, 
.search-container input {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 3px 3px 3px 25px;
    font-family: inherit;
}

.input-container input {
    padding-left: 3px;
}

.fa-search {
    margin-top: 2px;
}


.input-container-warn-message {
    position: relative;
}

.input-container-warn-message:before {
    content: "Please fill in this field.";
    position: absolute;
    background-color: #FFFA9D;
    top: 30px;
    left: 0px;
    border: 1px solid #858585;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 12px;
    display: none;
}

.input-container-warn-message:after {
    content: "";
    position: absolute;
    background-color: #FFFA9D;
    top: 24px;
    left: 15px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: 1px solid #858585;
    border-right: none;
    border-bottom: none;
    display: none;
}

.input-container-warn-message.active:before,
.input-container-warn-message.active:after {
    display: block;
}


.todo-list {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.todo-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 8px auto;
}

.hidden-todo-list-item {
    display: none;
}

.control-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-area {
    display: flex;
    flex-direction: column;
}

.button-area button {
    background-color: #92b9a4;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    font-family: inherit;
    letter-spacing: 2px;
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 32%);
    font-weight: 500;
}

.button-area button:hover {
    background-color: #3c5d4b;
    color: white
}

.fa-times {
    color: red;
    margin-left: 15px;
}

.fa-check {
    color: green;
    margin-left: 15px;
}

.fa-trash-o {
    color: #8c8c8c;
    margin-right: 15px;
}

.fa-trash-o:hover {
    color: orangered
}

.task-name {
    width: 80%;
    padding: 0 15px;
}

.main-trash-sign-container {
    width: 350px;
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
}

.main-trash-sign {
    margin-right: 13px;
    visibility: hidden;
}


